
- @videos.each do |videos|
  %p[videos]
    = videos.title
    = videos.link
    = videos.voteup
    = videos.votedown

.container
  .row
    .col-md-6.col-md-offset-3
      %h1 Search Videos here
  .row
    .col-md-4.col-md-offset-3
      %form.search-form{:action => ""}
        .form-group.has-feedback
          %label.sr-only{:for => "search"} Search
          %input#search#videosSearch.form-control{:name => "search", :placeholder => "search", :type => "text"}/
          %span.glyphicon.glyphicon-search.form-control-feedback