- if @videos.any?
  .container
    %h1 Latest videos
    #player-wrapper
    .col-md-12
      .row   
        - @videos.each do |video|          
          .col-md-4
            %p[video]
            .yt_video.thumbnail
              = image_tag(video.thumbnail_url(size = :high), alt: video.title , class: 'img-rounded')                                                                       
                                          
              .caption
                %h5= video.title
                = link_to "Add To Playlist" , "#" ,class: "btn btn-primary"

              