#Invitation
  - @invitations.each do |invitation|
    %p[invitation]
      = invitation.party.name
      = invitation.sender.name
      = link_to "Accept" ,invitations_accept_path(invitation), class: "btn btn-primary"
