#Invitation
  - @invitations.each do |invitation|
    %p[invitation]
      = invitation.party.name
      = invitation.sender.name
      = link_to "Accept" , accept_invitation_path(invitation), method: :put
